{% extends 'lecture/base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'lecture/css/contact.css' %}">


<div class="d-flex justify-content-center my-3">
    <fieldset class="border p-2">
        <legend class="w-auto">
            <h1 class="text-center"><h1 class="text-center">Forgot Password</h1></h1>
        </legend>
        <form action=" " method="POST" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            {{error}}
            {% endfor %}
            {% endif %}

            {% for fm in form %}

            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br>

            {% endfor %}
            <br>
            <div class="text-center">
                <input type="submit" value="Send Email" class="btn btn-primary ">
            </div>
        </form>
    </fieldset>
</div>

{% endblock %}