{% extends 'lecture/base.html' %}
{% block content %}
{% load static %}


<title>{% block title %}Home{% endblock title %}</title>
    


<header>
    <div class="content">
        <div class="container-sm">
        <h1>GET FREE LECTURE NOTES</h1>
        <p >Access all Live Video Classes</p>
        <button type="button" class="btn badge-pill btn-color">Get Classes For Free</button>    </div>
    </div>
</header>



<div class="container">
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="https://source.unsplash.com/100x100/?number" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Class 9</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <i class="fas fa-chalkboard-teacher"></i><span>&nbsp;Deepesh Sah</span>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://source.unsplash.com/100x100/?number" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Class 10</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <i class="fas fa-chalkboard-teacher"></i><span>&nbsp;Deepesh Sah</span>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://source.unsplash.com/100x100/?number" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Class 11</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <i class="fas fa-chalkboard-teacher"></i><span>&nbsp;Deepesh Sah</span>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://source.unsplash.com/100x100/?number" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Class 11</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <i class="fas fa-chalkboard-teacher"></i><span>&nbsp;Deepesh Sah</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------footer----------------------------------------------------------->
<!-- Footer -->
<footer class="page-footer   pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ipsam. ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae odio maiores quaerat nam nisi ratione. Odit, soluta inventore. Saepe, consequuntur. </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled footer-link">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 footer-link">
  
          <!-- Links -->
          <h5 class="text-uppercase">Heading</h5>
  
          <ul class="list-unstyled ">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright |
      <a href="/"> Shunya</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->





{% endblock %}

   


